.sc-prev,
.sc-next {
	cursor: pointer;
	padding: 15px;
	margin: 0 5px;
	border-radius: 10px;
	color: #504747;
	font-weight: bold;
	font-size: 18px;
	transition: 0.5s ease;
}

.sc-next {
	right: 0;
}

.sc-prev:hover,
.sc-next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.sc-flex-container {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.sc-flex-arrow {
	flex: 1;
	text-align: center;
}

.sc-prev-arrow-order {
	order: -1;
}

.sc-next-arrow-order {
	order: 1;
}

.sc-flex-arrow:active {
	transform: scale(0.9) !important; /* Safari */
}
