<footer>
	<div class="column">
		<h1>About this site</h1>
		<p>
			This is <u>NOT</u> a official web site, just a reimagination with train
			purposes!
		</p>
		<p>
			Original web site:
			<a href="https://www.santander.com.br/" target="_blank">Santander</a>
		</p>
		<p><a href="#">About</a></p>
		<p><a href="#">Terms</a></p>
		<p><a href="#">Privacy</a></p>
	</div>

	<div class="column">
		<h1>Social Medias</h1>
		<p><a href="#">About</a></p>
		<p><a href="#">Terms</a></p>
		<p><a href="#">Privacy</a></p>
	</div>
</footer>
