<footer>
	<div class="content">
		<div class="column">
			<h1>About this site</h1>
			<p>This is <u>NOT</u> an official web site!</p>
			<p>
				Original web site:
				<a href="https://www.santander.com.br/" target="_blank">Santander</a>
			</p>
		</div>

		<div class="column">
			<h1>See more</h1>
			<p><a href="#">About</a></p>
			<p><a href="#">Terms</a></p>
			<p><a href="#">Privacy</a></p>
		</div>

		<div class="column">
			<h1>Social Medias</h1>
			<div class="row">
				<p>
					<img
						src="https://www.santander.com.br/sites/WPC_CMS/imagem/21-03-26_095020_M_ic-social-facebookk.svg"
					/>
				</p>
				<p>
					<img
						src="https://www.santander.com.br/sites/WPC_CMS/imagem/21-03-26_095020_M_ic-social-instagramm.svg"
					/>
				</p>
				<p>
					<img
						src="https://www.santander.com.br/sites/WPC_CMS/imagem/21-03-26_095020_M_ic-social-twitter.svg"
					/>
				</p>
				<p>
					<img
						src="https://www.santander.com.br/sites/WPC_CMS/imagem/21-03-26_095020_M_ic-social-youtube.svg"
					/>
				</p>
			</div>
		</div>
	</div>
	<div class="column">
		<hr />
		<p>© 2023 Banco Santander (Brasil) S.A., CNPJ: 90.400.888/0001-42 Av.</p>
		<p>
			Presidente Juscelino Kubitschek 2041/2235 – Vila Olímpia – São Paulo/SP.
		</p>
	</div>
</footer>
